.usrpl
{
	position: relative;
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: 70%;
}

.unlog
{
	position: relative;
	bottom: 0;
}

.lusr
{
	float: left;
	width: 49%;
}

.rusr
{
	float: left;
	width: 49%;
}

.signn
{
	float: right;
	margin-right: 2%;
}

.panier
{
	float: left bottom;
	height: 5vh;
	width: 5vh;
}

@media all and (max-height: 1060px)
{
	.panier
	{
		height: 30px;
		width: 30px;
	}
}
